* {
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,500&display=swap');

body {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
}

.read-more {
	text-decoration: underline;
	color: #464646;
}

.bold {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}

.hats-header {
	position: sticky;
	top: 0;
	z-index: 999;
	background: #fff;
}

.container-fluid {
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.header {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
    margin-bottom: 20px;
}

/*.nav-header {
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-align: center;
	align-items: center;
}*/

.nav-header a {
	margin: 0 10px;
	color: #5f6368;
    text-decoration: none;
}

.common-flex {
	display: -ms-flexbox!important;
	display: flex!important;
	-ms-flex-preferred-size: auto;
	flex-basis: auto;
}

.round {
	width: 50px;
	height: 50px;
	background-color: #000;
	border-radius: 100%;
	padding: 5px 10px;
	color: #fff;
	margin-left: 15px;
}

.row {
    width: 100%;
}

.row:after {
    clear: both;
}

.row:before, .row:after {
    display: table;
    content: " ";
}

.col {
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}

.w-50 {
	width: 50%;
	float: left;
}

.w-70 {
	width: 70%;
	float: left;
}

.w-100 {
	width: 100%;
	float: left;
}

.w-90 {
	width: 90%;
}

.w-30 {
	width: 30%;
	float: left;
}

.w-33 {
	width: 33.33%;
	float: left;
}

.img-box {
	padding: 5rem 4rem;
	background-color: #e2e2e2;
	height: 620px;
}

.txt-center {
	text-align: center;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.h-100 {
	height: 100%;
}

.add-cart {
	padding: 3rem;
	height: 550px;
}

.add-cart h1 {
	font-family: "Playfair Display script=all rev=1";
	font-weight: 500;
    font-style: italic;
    line-height: 1.333;
    margin-top: 0px;
    margin-bottom: 10px;
}

.bv-atual {
    color: #535353;
    font-size: 11pt;
    padding: 10px;
    border: 2px solid #e1e1e1;
    cursor: pointer;
    background-color: #fff;
    min-width: 200px;
}

.select {
	margin-bottom: 20px;
}

.select input {
    display: none;
}
.select label {
    display: block;
    font-family: sans-serif;
    position: relative;
    cursor: pointer;
    padding-left: 30px;
}

.select input[type="radio"]:checked + label.radio,
.select input[type="radio"]:checked + label.radio::before{
    color: #212529;
    border-color: #212529;
}

.select label.radio::before {
    content: "";
    width: 25px;
    height: 25px;
    border: 2px solid #0066;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -4px;
}

.select label.radio::after {
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50px;
    background-color: #212529;
    position: absolute;
    top: 2px;
    left: 6px;
    visibility: hidden;
}

input[type="radio"]:checked + label.radio::after{
    visibility: visible;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #5a5757;
    padding: 15px 10px;
    color: #fff;
    min-width: 150px;
}

.btn:hover {
	background-color: #3e3a3a;
}

.mg-bt-30 {
	margin-bottom: 30px;
}

.list-box {
	height: 400px;
}

.hide-xs {
	display: none;
}

.show-xs {
	display: initial;
}

.img-auto {
	margin: 0 auto;
}

.art-box img {
	width: 100%;
    height: 500px;
}

.art-img-box {
	padding: 30px;
	height: 100%;
	background-color: #e2e2e2;
	margin: 20px;
}

.img-h {
	height: 200px;
}

.mg-0 {
	margin: 0;
}

.mg-bottom {
	border-bottom: 2px solid #e2e2e2;
	margin-bottom: 30px;
}

.follow {
	padding: 0;
}

.follow li {
	display: inline-block;
    padding: 0 10px;
    list-style: none;
}

.follow li img {
    border-radius: 100px;
    background-color: #000;
}

.input-group {
  display: table;
  border-collapse: collapse;
  width:100%;
}

.input-group > div{
  display: table-cell;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
}

.input-group-icon {
  color: #777;
  padding: 0 12px;
  font-size: 28px;
}

.input-group-area {
  width:75%;
}

#selectbox,
.input-group-area input:hover,
.input-group-area input:focus {
	outline: none;
}

.input-group-icon a {
	cursor: pointer;
}

.input-group input{
  border: 0;
  display: block;
  width: 100%;
  padding: 8px;
}

.txt-right {
	text-align: right;
}

p {
	color: #464646;
}

@media only screen and (max-width: 768px) {
	.art-img-box {
		margin: 30px 0;
	}

	.add-cart,
	.img-box {
		padding: 0;
	}

	.img-box {
		height: 520px;
	}

	.w-90 {
		width: 100%;
	}
}

h2 {
	font-weight: 400;
}

@media only screen and (max-width: 600px) {
	.w-70,
	.w-30,
	.w-90,
	.w-33,
	.w-50 {
		width: 100%;
	}

	.art-box img {
		height: 100%;
	}

	.art-box {
		height: 250px;
	}

	.container-fluid {
		padding: 0;
	}

	.add-cart,
	.img-box {
		padding: 0;
	}

	.img-box {
		height: 200px;
	}

	.select label {
		margin: 15px 0;
	}

	.select .w-50 {
		width: 50%;
	}

	.select {
		margin-bottom: 0;
	}

	.list-box {
		height: 180px;
	}

	.hide-xs {
		display: initial;
	}

	.show-xs {
		display: none !important;
	}

	.mg-bottom {
		margin-bottom: 0;
	}
}